$color__black: #000;
$color__background-body: #fff;
$color__body-text: #707070;
$color__border-input: #BDBDBD;
$color__border-button: #cdcdcd;
$color__border-button-hover: #111;
$color__background-section: #30688B;
$color__background--testimonials: #F6F9FC;
$color__light-blue: #F8FDFF;
$color__anchor--text: #A1865C;

$color__text-input: #000;
$color__link: #2D3338;
$color__link-hover: #DBBB8A;
$color__link-focus: #DBBB8A;
$color__link-visited: #DBBB8A;

$color__text--label: #2A2626;