$font__main: 'Open Sans', sans-serif;
$font__body-text: rem(16px);
$font__line-height-body: rem(18px);
$font__line-height-pre: rem(20px);

$font__weight-normal: 400;
$font__weight-medium: 600;
$font__weight-bold: 700;

//font default rem
$rem-baseline: 16px !default;